
.hostIncome p{
    color: #4d4d4d;
}

.hostIncome p > span{
    font-weight: bold;
    text-decoration: underline;
}

.hostIncome h2{
    font-size: 3rem;
}

.top{
    margin-top: 3.8em;
}

.top h3{
    font-size: 1.5rem;
}

.transaction{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2em 1.5em;
    border-radius: 7px;
    margin-block: 2em;
}

.transaction h3{
    font-size: 2rem;
}