
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 44px 16px;
}

header a{
    text-decoration: none;
    text-underline-offset: .3em;

}

nav{
    display: flex;
    align-items: center;
    gap: 1.8em;
}

nav a{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    color: #161616;
}

.loginIcon{
    width: 20px;
    height: auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

.active{
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}