*{
  box-sizing: border-box;
}

html, body{
  background-color: #FFF7ED;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: 44px 16px;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  text-decoration: underline;
  text-underline-offset: .5em;
}

.nav-logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link a{
  padding-left: 15px;
  font-weight: 500;
}


.hero{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  padding: 150px 0;
  max-width: 700px;
}

.hero h1{
  font-weight: 800;
  font-size:3rem;
  margin-bottom: 26px;
}

.hero p{
  margin-bottom: 52px;
  line-height: 30px;
  font-size: 1.2rem;
}

.hero a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  color: white;
  padding-block: .75rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.hero a:hover{
  transform: translate(1px, 1px);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #AAA;
  padding: 26px;
}

.footer-icon{
  font-size: 1.3rem;
}


/**** ABOUT PAGE ****/

.about-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-hero-image{
  width: 910px;
}

.about-page-content{
  width: 910px;
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1{
  line-height: 38px;
}

.about-page-content p{
  line-height: 22px;
}

.about-page-cta{
  background-color: #ffcc8d;
  padding-inline: 37px;
  padding-block: 20px;
  margin-bottom: 27px;
  border-radius: 5px;
}

.about-page-cta{
  width: 910px;
}

.link-button-container{
  margin-block: 25px;
}

.link-button{
  background-color: #161616;
  color: #fff;
  text-decoration: none;
  padding-inline: 22px;
  padding-block: 12px;
  border-radius: 10px;
}


/***Vans page***/

.van-list-container{
  padding-inline: 23px;
}

.van-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-block: 57px;
}

.van-tile a{
  color: #161616;
  text-decoration: none;
}

.van-tile img{
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button{
  margin-right: 20px;
  cursor: pointer;
}

.van-type{
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #dfd1d1;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover{
  color: #FFEAD0;
}

.van-type:focus{
  outline: none;
}

.van-type:focus{
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected{
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

/*** van detail page ***/
.van-detail-container{
  padding: 27px;
  max-width: 900px;
  justify-self: center;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail{
  display: flex;
  flex-direction: column;
}

.van-detail i{
  align-self: flex-start;
  cursor: pointer;
}

.van-detail h2{
  font-size: 2rem;
}

.van-price{
  font-size: 1.75rem;
  margin: 0;
}
.van-detail img{
  border-radius: 5px;
  margin-block: 47px;
  max-width: 1200px;
}

.link-button{
  background-color: #ff8c38;
  color: #fff;
  border: none;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 650px) {
  .hero{
    padding: 66px 26px;
  }

  .hero h1{
    font-size:2.25rem;
    margin-bottom: 26px;
  }
  
  .hero p{
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .container{
    padding: 150px 0;
    max-width: 560px;
  }

  .about-hero-image{
    width: 100%;
  }

  .about-page-content{
    width: auto;
  }

  .about-page-cta{
    width: 495px;
  }
  
}